version: 2.1
orbs:
  ruby: circleci/ruby@2.0.1
jobs:
  build:
    docker:
      - image: cimg/ruby:3.1.1-node
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          RAILS_ENV: test
      - image: cimg/postgres:14.7
        environment:
          POSTGRES_USER: plate_book_be
          POSTGRES_DB: plate_book_test
    steps:
      - checkout
      - ruby/install-deps
      - run:
          name: Install Yarn dependencies
          command: yarn install --check-files
      - run:
          name: Precompile Assets
          command: bundle exec rails assets:precompile
      - run:
          name: Database setup
          command: bin/rails db:{create,migrate} --trace
      - ruby/rspec-test
      - store_test_results:
          path: test_results
workflows:
  build_and_test:
    jobs:
      - build
